.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.nav_button{
    border: none;
    border-radius: 0 ;

    background-color: #fff;
    width: 4.5rem;
    height: 3px;

    &__:before,
    &__:after{
        content: "";
        display: block;
        background: #fff;
        width: 4.5rem;
        height: 3px;
    }

    &__:before{transform: translateY(-1.5rem)}
    &__:after{transform: translateY(1.5rem)}
}